<% include header.ejs %>


<p>Nr: <%= data[0]%></p>
<p>Name: <%= data[10]%></p>
<p>Type: <%= data[11]%></p>
<p>Municipality: <%= data[12]%></p>
<p>District: <%= data[13]%></p>
<p>Tel Nr: <%= data[14]%></p>
<p>Fax Nr:  <%= data[15]%></p>
<p>Phone Nr: <%= data[16]%></p>
<p>E-mail: <%= data[17]%></p>
<p>Head Doc: <%= data[18]%></p>
<p>Settlement: <%= data[19]%></p>
<p>Owner: <%= data[20]%></p>
<p>Town: <%= data[21]%></p>
<p>Postal Address: <%= data[22]%></p>
<p>Street Address: <%= data[23]%></p>

<p>Rating: <%= data[25]%></p>


</body>
</html>