<!DOCTYPE html>
<html>
<head>
    <title>Loc8</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>
<style>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 80%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

    #myTable th, #myTable td {
        text-align: left; /* Left-align text */
        padding: 12px; /* Add padding */
    }

    #myTable tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }

    #myTable tr.header, #myTable tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: #f1f1f1;
    }
</style>
<body>
<div>
    <input type="text" id="mlyInput" onkeyup="myFunction()" placeholder="Search for...">
    <span class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Name</button>
        <span id="myDropdown" class="dropdown-content">
            <a href="#">Situated</a>
            <a style="width:8%;">Classification </a>
            <a style="width:20%;">Name</a>
            <a style="width:15%;">Sub-District</a>
            <th style="width:5%;">City</th>
            <th style="width:5%;">Contact Nr</th>
            <th style="width:20%;">Rating</th>
        </span>
    </span>

    <table id="myTable">
        <tr class="header">
            <th style="width:2%;">Nr</th>
            <th style="width:8%;">Situated</th>
            <th style="width:8%;">Classification </th>
            <th style="width:20%;">Name</th>
            <th style="width:15%;">Sub-District</th>
            <th style="width:5%;">City</th>
            <th style="width:5%;">Contact Nr</th>
            <th style="width:20%;">Rating</th>
        </tr>
        <% hospitalData.forEach((data) => { %>
        <tr onclick="">
            <td><%= data[0]%></td>
            <td><%= data[19]%></td>
            <td><%= data[11]%></td>
            <td><%= data[10]%></td>
            <td><%= data[12]%></td>
            <td><%= data[21]%></td>
            <td><%= data[16]%></td>
            <td><%= data[25]%></td>
        </tr>
        <% }); %>
    </table>
</div>
</body>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</html>